body {
    background-color: whitesmoke;
}

.indexH1{
    text-align: center;
    font-size: xx-large;
}

.containerIndex{
    padding-top: 20px;
}

/*#profileH1{*/
    /*font-size: large;*/
    /*text-decoration: #1a5155;*/
/*}*/

